In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv('casc-resto.csv',sep=';',parse_dates=['RKDate'],decimal=',')
clients_info = pd.read_csv("CASC_Constant.csv", sep=",")

In [3]:
clients_info.describe()

         CustomerId          Age
count  1.000000e+04  9953.000000
mean   2.812482e+06    32.894203
std    6.227632e+04    11.954687
min    2.728046e+06    16.000000
25%    2.756356e+06    26.000000
50%    2.794998e+06    31.000000
75%    2.880618e+06    37.000000
max    2.913132e+06   247.000000

In [4]:
raw_data.describe()

,CustomerID,Restaurant,Quantity,SummBasic,SummAfterPointsUsage
count,8.822220e+05,882222.000000,882222.000000,882222.000000,882222.000000
mean,2.809199e+06,468.268804,1.154900,287.725795,260.255589
std,6.178420e+04,279.170967,0.650287,264.555291,251.289517
min,2.728046e+06,40.000000,0.000000,0.500000,-2593.000000
25%,2.754886e+06,333.000000,1.000000,120.000000,110.000000
50%,2.785104e+06,434.000000,1.000000,225.000000,199.000000
75%,2.878900e+06,712.000000,1.000000,379.000000,348.940000
max,2.913132e+06,980.000000,107.000000,29450.000000,29450.000000

In [5]:
#Исключение некорректных данных
raw_data = raw_data.loc[raw_data['SummAfterPointsUsage'] > 0]
clients_info = clients_info.loc[clients_info['Age'] <100]
#Переводим пол в числа и пустые поля заполняем 1
clients_info['Sex'] = clients_info['Sex'].map({'Female': 0,np.nan:1, 'Male': 2})

In [6]:
raw_data.head()

,CustomerID,Restaurant,RKDate,RegionName,BrandsNames,DishCategoryName,Quantity,SummBasic,SummAfterPointsUsage
0,2898197,391,2017-07-16,Москва и Московская область,TGI FRIDAYS,NON ALCOHOL,2,2.0,2.0
1,2903215,43,2015-04-07,Москва и Московская область,IL Патио,NON ALCOHOL,1,5.0,5.0
2,2748887,43,2015-05-22,Москва и Московская область,IL Патио,NON ALCOHOL,1,5.0,5.0
3,2862077,46,2015-03-05,Москва и Московская область,IL Патио,NON ALCOHOL,1,5.0,5.0
4,2862077,46,2015-03-11,Москва и Московская область,IL Патио,NON ALCOHOL,1,5.0,5.0

In [7]:
clients_info.describe()

         CustomerId          Age          Sex
count  9.862000e+03  9862.000000  9862.000000
mean   2.812337e+06    32.067025     0.858447
std    6.229775e+04     8.102757     0.933027
min    2.728046e+06    16.000000     0.000000
25%    2.756232e+06    26.000000     0.000000
50%    2.794530e+06    31.000000     0.000000
75%    2.880582e+06    36.000000     2.000000
max    2.913132e+06    96.000000     2.000000

In [8]:
clients_info[:6]

   CustomerId ActivationDate   Age  Sex  SubscribedEmail  SubscribedPush
0     2728183     2015-01-01  21.0    0            False            True
1     2728198     2015-01-01  21.0    0             True            True
2     2728306     2015-01-01  21.0    0             True            True
3     2728178     2015-01-01  22.0    2             True            True
4     2728322     2015-01-01  22.0    2             True            True
5     2728319     2015-01-01  22.0    1            False           False

In [9]:
startTime = pd.Timestamp(2017, 7, 1)

In [10]:
customersTr = raw_data.groupby(['CustomerID'])

In [11]:
def get_y(df):
    return len(df[(startTime <= df['RKDate']) & ('2017-12-31' >= df['RKDate'])]) > 0
def get_recency(df):
    return pd.Timedelta(startTime- df[startTime > df['RKDate']]['RKDate'].max()).days
def get_frequency(df):
    trBeforeStT = df[df['RKDate'] < startTime]
    return trBeforeStT.groupby([trBeforeStT['RKDate'].dt.year, trBeforeStT['RKDate'].dt.month]).size().mean()
def get_monetary_value(df):
    trBeforeStT = df[df['RKDate'] < startTime]
    return trBeforeStT['SummAfterPointsUsage'].mean()
def get_avg_discount(df):
    return ((df['SummBasic'] - df['SummAfterPointsUsage']) / df['SummBasic']).mean()

In [12]:
clients_info['Y'] = clients_info['CustomerId'].apply(lambda x:get_y(customersTr.get_group(x)))
clients_info['Recency'] = clients_info['CustomerId'].apply(lambda x: get_recency(customersTr.get_group(x)))
clients_info['Frequency'] = clients_info['CustomerId'].apply(lambda x: get_frequency(customersTr.get_group(x)))
clients_info['Monetary Value'] = clients_info['CustomerId'].apply(lambda x: get_monetary_value(customersTr.get_group(x)))
clients_info['Average Discount'] = clients_info['CustomerId'].apply(lambda x: get_avg_discount(customersTr.get_group(x)))

In [13]:
#Убираю ненужные столбцы,т.к. делал сразу в таблице с информацией о клиентах и записываю в другую таблицу
clients_info_final = clients_info.drop(['SubscribedEmail', 'SubscribedPush','ActivationDate'], axis=1)
clients_info_final.head()

,CustomerId,Age,Sex,Y,Recency,Frequency,Monetary Value,Average Discount
0,2728183,21.0,0,False,553.0,6.000000,337.222222,0.042936
1,2728198,21.0,0,False,282.0,10.428571,385.465753,0.185116
2,2728306,21.0,0,True,1.0,11.500000,298.782609,0.061818
3,2728178,22.0,2,False,171.0,5.777778,295.403846,0.143614
4,2728322,22.0,2,False,116.0,5.333333,280.531250,0.077110

In [14]:
#Проверка на пустые значения данных,используемых потом в модели
clients_info_final.isnull().sum()

CustomerId           0
Age                  0
Sex                  0
Y                    0
Recency             57
Frequency           57
Monetary Value      57
Average Discount     0
dtype: int64

In [15]:
clients_info_final = clients_info_final.fillna(0)
clients_info_final.isnull().sum()

CustomerId          0
Age                 0
Sex                 0
Y                   0
Recency             0
Frequency           0
Monetary Value      0
Average Discount    0
dtype: int64

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score

In [17]:
y = clients_info_final['Y']
x = clients_info_final.drop('Y', axis=1)

In [18]:
x_train, x_test, y_train, y_test = train_test_split(
    x,
    y,
    test_size=0.2,
    random_state=1337
)

In [19]:
#обучение
log_reg = LogisticRegression().fit(x_train, y_train)
log_reg.score(x_test, y_test)

0.7410035478966042

In [20]:
#предсказание
y_pred = log_reg.predict(x_test)

In [21]:
#проверка на точность
precision_false, precision_true = precision_score(y_test, y_pred, average=None)
print(precision_true)
print(precision_false)

0.6849192100538599
0.8137369033760187

In [22]:
#проверка на полноту
recall_false, recall_true = recall_score(y_test, y_pred, average=None)
print(recall_true)
print(recall_false)

0.8266522210184182
0.6657142857142857